@font-face {
    font-family: sangblue;
    src: url("./assets/fonts/SangBleuSunrise-Regular-WebS.ttf");
}

@font-face {
    font-family: sangblueItalic;
    src: url("./assets/fonts/SangBleuSunrise-RegularItalic-WebS.ttf");
}

@font-face {
    font-family: GT;
    src: url("./assets/fonts/GT-America-Standard-Regular.ttf");
}

@font-face {
    font-family: GTMd;
    src: url("./assets/fonts/GT-America-Standard-Medium.ttf");
}

@font-face {
    font-family: GTLt;
    src: url("./assets/fonts/GT-America-Standard-Light.ttf");
}


@font-face {
    font-family: aloha;
    src: url("./assets/fonts/Aloha.ttf");
}


*::-webkit-scrollbar {
    display: none;
}

button{
    cursor: pointer;
}

a:hover{
    border-bottom: 1px solid #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

a{
    width: max-content;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    width: 100%;
    background-color: #F8F7ED;
    font-family: GT;
}


.custom-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    --d:22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #E4B78E;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: s7 1s infinite steps(8);
  }
  
  @keyframes s7 {
    100% {transform: rotate(1turn)}
  }

  #main{
    display: none;
  }

#fullscreen-nav {
    top: 0%;
    position: absolute;
    height: 100vh;
    width: 50vw;
    background-color: #141617;
    transform: translateX(-100%);
    position: fixed;
    z-index: 9;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    padding-left: 6.5vw;
    overflow-y: hidden;

}

#fullscreen-nav a:hover
{
    color: red;
}
.top-nav{
    padding: 5vw;
    display: flex;
    flex-direction: column;
    font-size: 5vmax;
}

.top-nav a{
    text-decoration: none;
    color: #fff;
}

.bottom-nav{
    padding: 0vw 5vw 5vw 5vw;
    display: flex;
    flex-direction: column;
    font-size: 2vmax;
    gap: 1vw;
}
.bottom-nav a{
    text-decoration: none;
    color: #fff;
}

.nav {
    width: 6.5vw;
    height: 100vh;
    background-color: #141617;
    top: 0;
    position: absolute;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    color: #fff;
    z-index: 999;
    border-right: 1px solid gray;

}

.logo {
    font-family: aloha;
    font-weight: 100;
}

.logo h3{
font-size: 2.5vmax;
}

#menu {
    position: relative;
    display: inline-block;
    flex-direction: column;
    cursor: pointer;

}

#line1,
#line2 {
    height: 0.3vh;
    width: 2.5vw;
    background-color: #fff;
    margin: 6px 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.nav .cart {
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    background-color: #fff;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    padding: .2vw;

}


.nav .cart img {
    height: 100%;
    width: 100%;


}

#content-container {
    padding-left: 6.5vw;
    overflow-x: hidden;
}

.folating-nav{
    position: absolute;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 1vw;
    top: 0;
    right: 0;
    z-index: 7;
    padding: 1vw 2vw;
}

.folating-nav .float-links button{
    padding: 1vw 2vw;
    background-color: #111;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 1vmax;
}

#page1 {
    position: relative;
    height: 100vh;
    width: calc(100vw - 6.5vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: bottom;
    background-size: cover;
    color: #fff;

    background-image: url('./assets/images/indoor-shot-unrecognizable-woman-dressed-pajama-keeps-legs-raised-up-wears-socks-poses-bed-blanket-doesnt-want-get-up-isolated-beige-studio-background-hard-awakening.webp');
}

#page1 h1 {
    position: absolute;
    font-family: aloha;
    font-size: 20vmax;
    top: 10vw;
}

#page1 .small-text {
    position: absolute;
    font-family: sangblue;
    bottom: 4vw;
    text-align: center;
    font-size: 1.4vmax;

}

#page1 .small-text span {
    font-family: sangblueItalic;

}

#page1 .small-text p {
    font-size: .8vmax;
    font-weight: bolder;
    margin-top: 5vh;


}



#page2 {
    position: relative;
    height: 100vh;
    width: calc(100vw - 6.5vw);

}

.marquee-animation {
    padding: 2vw 0;
    text-transform: uppercase;
    font-size: .9vmax;
    white-space: nowrap;
    border-bottom: 1px solid #40404081;
    background-color: #F8F7ED;

}

.marquee-animation span {
    display: inline-block;
    position: relative;
    margin-left: 3vw;
    font-family: GTMd;
    animation: marquee 50s linear infinite both;
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #141617;
    text-align: center;




}

.center-text h2 {
    font-family: sangblue;
    text-align: center;
    font-weight: 300;
    font-size: 2.2vw;
    margin-bottom: 5vh;
}

.center-text a {
    color: #141617;


}



#page3 {
    position: relative;
    width: calc(100vw - 6.5vw);

    /* height: 100vh; */
    padding: 5vw 0;
    padding: 0 5vw;
    display: grid;
    grid-template-columns: auto auto;

}

.view-product {
    position: absolute;
    display: flex;
    align-items: center;
    gap: .5vw;
    display: none;
    z-index: 999;
    pointer-events: none;
}

.view-product .circ {
    height: 1vw;
    width: 1vw;
    background-color: #111;
    border-radius: 50%;
}

.view-product p {
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: bold;
}

.image-card1 {
    background-image: url("./assets/images/comfortable-modern-bedroom-with-elegant-wood-headboard-generated-by-ai.webp");
}

.image-card2 {
    background-image: url('./assets/images/beautiful-view-modern-bedroom-white-colors.webp');
}

.image-card3 {
    background-image: url('./assets/images/beige-cushion-home-decor-sofa.webp');
}

.image-card4 {
    background-image: url('./assets/images/hand-soft-duvet.webp');
}

.image-card {
    /* overflow: hidden; */
    position: relative;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    height: 30vw;
    width: 40vw;
    margin: 0 0 10vw 0;

}

.image-card:hover.image-card img {
    transition: all 2s;

    display: none;
}

.image-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;

}

.image-card .image-data {
    position: absolute;
    width: 100%;
    top: 100%;
    padding: 3vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3vmax;
    gap: 1vw;


}

.image-card .image-data .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    font-size: 1vmax;
    text-transform: uppercase;
    font-weight: bold;

}

.image-card .image-data .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1vmax;
    text-transform: none;
}

.image-card .image-data .bottom a{
    text-decoration: none;
    background: #000;
    color: #fff;
    border-radius: 10px;
    padding: .5vw 1vw;
}

.image-card .image-data .bottom a:hover{
    background-color: red;
    color: #fff;
}

#page4 {
    position: relative;
    height: 80vh;
    width: calc(100vw - 6.5vw);



}


.swiper {
    width: 100%;
    height: 100%;
    background-color: #F67B71;
}

.swiper-slide {
    font-size: 3vmax;
    background-color: #F67B71;
    color: #fff;
    padding: 5vw;
}

.swiper-slide p {
    width: 50%;
}

.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.swiper-pagination-bullet {
    width: 10vw;
    height: 7vw;
    color: transparent;
    background-color: transparent;
    opacity: 0.5;
    background-position: center;
    background-size: contain;
    border-radius: 0%;
    background-repeat: no-repeat;

}

.bullet-img {
    height: 3vw;
    width: auto;
}

.swiper-pagination-bullet:nth-child(1) {

    background-image: url("https://earthfoam.com/img/editorial_logo_apttherapy-stack_640x.png");


}


.swiper-pagination-bullet:nth-child(2) {
    background-image: url('https://earthfoam.com/img/editorial_logo_hunker-xtrasm_640x.png');
}

.swiper-pagination-bullet:nth-child(3) {
    background-image: url('https://earthfoam.com/img/editorial_logo_gearpatrol-sm_640x.png');
}


.swiper-pagination-bullet:nth-child(4) {
    background-image: url('https://earthfoam.com/img/editorial_logo_goodtrade.svg');
}


.swiper-pagination-bullet:nth-child(5) {
    background-image: url('https://earthfoam.com/img/editorial_logo_inhabitat.svg');
}


.swiper-pagination-bullet-active {
    opacity: 1;
}

#page5 {
    position: relative;
    height: 100vh;
    width: calc(100vw - 6.5vw);
    display: flex;
    align-items: center;


}

.left {
    width: 50%;
    height: 100%;
    padding: 7vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;

}

.left-title {
    font-size: .8vmax;
    font-weight: 500;
}

.left-head {
    font-size: 3.3vw;
    font-family: sangblue;
    font-weight: 100;
}

.left-body {

    font-size: 1vmax;
    font-weight: 100;
    color: #111111c3;
}

.left button {
    background-color: #111;
    padding: 2vw 5vw;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-family: sangblue;
    width: 20vmax;
}


.right {
    height: 100%;
    width: 50%;
    
    overflow: hidden;
}

.right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}


#page8 {
    position: relative;
    height: 100vh;
    width: calc(100vw - 6.5vw);
    text-align: center;
}

.top-text {
    text-align: center;
    padding: 10vw 0;
}

.top-text p {
    font-size: 2.5vmax;
    font-family: sangblue;
}

.images-4 {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.images-4 .img-card{
    width: 25vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 10px;
}

.images-4 .img-card img{
    height: 100%;
    width: 100%;
}

#page9 {
    position: relative;
    height: 60vh;
    width: calc(100vw - 6.5vw);
    background-color: #141617;
    color: #fff;


}

.marquee-animation-bottom {
    padding: 2vw 0;
    text-transform: uppercase;
    font-size: .9vmax;
    white-space: nowrap;
    border-bottom: 1px solid #40404081;
    color: #fff;

}

.marquee-animation-bottom span {
    display: inline-block;
    position: relative;
    margin-left: 3vw;
    font-family: GTMd;
    animation: marquee 15s linear infinite both;
}

footer{
    display: flex;
    justify-content: space-between;
}

.left-footer{
    padding: 3vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.left-footer .upper{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.left-footer .upper p{
    font-size:  1.2vmax;
}

.left-footer .upper .input{
    display: flex;
    align-items: center;
}

.left-footer .upper .input span{
    display: inline-block;
    font-size: 2vmax;
    left: -2vw;
    position: relative;
}

.left-footer .upper input{
    background-color: transparent;
    border: none;
    border: 1px solid gray;
    padding: 1vw;
    border-radius: 5px;
    width: 30vw;
    outline: none;
}

.left-footer .upper input:focus{
    color: #fff;
}


.left-footer .bottom{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.left-footer .bottom a{
    text-decoration: none;
    color: #fff;
}

.left-footer .bottom .one,.left-footer .bottom .two{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.right-footer{
    padding: 5vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.right-footer .social{
    font-size: 2vmax;
    font-weight: 100;
}

.right-footer .copyright{
    font-size: 1vmax;
    line-height: 2vw;
}

.right-footer .madeby{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-family: sangblue;
}


#page1 .marquee-animation{
    display: none;
}

@media only screen and (max-width:500px) {


    .nav{
        width: 100vw;
        height: 10vh;
        flex-direction: row;
        align-items: center;
        padding: 0 5vw;
    }

    .logo{
        display: none;
    }

    #line1, #line2{
        width: 7.5vw;
    }

    .nav .cart{
        width: 7vw;
        height: 7vw;
    }

    .folating-nav{
        position: absolute !important;
        top: 80vh;
        right: 30vw;

    }

    .folating-nav .float-links button{
        padding: 2vw 4vw;
        font-size: 3vw;
        
    }

    #page1 h1{
        top: 2vh;
        z-index: 2;
        position: fixed;
        z-index: 999;
        font-size: 5vmax;
    }

    #content-container{
        padding: 0;
    }

    #page1{
        margin-top: 10vh;
        width: 100vw;
        height: 50vh;

    }

    #page1 .small-text{
        top: 55vh;
        z-index: 8;
        color: #111;
        font-size: 5vw;
        font-weight: 100;
        width: 80%;
    }

    #page2{
        height: 60vh;
        width: 100vw;
    }

    .marquee-animation{
        display: none;
    }

    #page1 .marquee-animation{
        display: initial;
        color: #111;
        top: 0;
        position: absolute;
    }

    #page1 .small-text p{
        font-size: 3vw;
        margin-top: 12vh;
    }

    

    .center-text{
        width: 90%;
    }
  
    .center-text h2{
        font-size: 6vw;
        margin-top: 25vh;
    }

        #page3{
            height: initial;
            display: flex !important;
            flex-direction: column !important;
            gap: 35vw;
            align-items: center;
            justify-content: center;
            
        }


        .image-card{
            width: 80vw;
            height: 60vw;
        }

        .image-card:last-child{

            margin-bottom: 20vh;
        }

        

        .image-card .image-data{
            font-size: 2.5vmax;
            text-align: center;
            gap: 3vw;
        }

        .image-card .image-data .top{
            gap: 2vw;
        }

        .image-card .image-data .bottom{
            display: initial;
            font-size: 2vmax;
            display: flex;
            flex-direction: column;
            gap: 4vw;
            align-items: flex-start;
        }

        .image-card .image-data .bottom a{
            padding: 1vw 3vw;
        }

        .price{
            font-size: 1.5vmax;
        }

    #page4{
        width: 100vw;
        height: 40vh;
    }

    .swiper-slide p{
        width: 90%;
    }

    #page5{
        width: 100vw;
        flex-direction: column-reverse;
    }

    .right{
        width: 100%;
        height: 180%;
    }

    .left{
        width: 100%;
        text-align: center;
    }

    .left-title{
        font-size: 1.3vmax;
    }

    .left-head{
        font-size: 3.5vmax;
    }

    .left-body{
        font-size: 1.7vmax;
    }

    .left button{
        width: initial;
        margin-top: 5vh;
    }


    #page8{
        width: 100vw;
        height: 65vh;
    }

    .images-4{
        flex-direction: column;
        height: max-content;
        gap: 5vw;
    }

    .images-4 .img-card{
        width: 80%;
        height: 20vh;
    }

    .img-card:nth-child(3){
        display: none;
    }

    .images-4 .img-card img{
        object-fit: cover;
        object-position: center;
    }

    #page9{
        width: 100vw;
        height: max-content;
        padding: 0 0 40vw 0;
    }

    footer{
        flex-direction: column;
    }

    .left-footer .upper{
        gap: 10vw;
    }

    .left-footer .upper p{
        font-size: 2vmax;
    }

    .left-footer .upper input{
        width: 80vw;
        padding: 2vw 5vw;
    }

    .left-footer .upper .input span{
        left: -6vw;
    }

    .left-footer .bottom{
        flex-direction: row;
        padding: 5vw;
    }

    .left-footer .bottom .one, .left-footer .bottom .two{
        flex-direction: column;
        align-items: self-start;
        padding: 0 5vw;
    }

    .right-footer{
        padding: 7vw;
    }

    .right-footer .social{
        font-size: 2.5vmax;
    }

    .right-footer .copyright{
        font-size: 1.5vmax;
        line-height: initial;
    }

    .right-footer .madeby{
        font-size: 2vmax;
    }


    #fullscreen-nav{
        z-index: 99;
        width: 80vw;
        display: flex;
        align-items: center;

        justify-content: center;
        flex-direction: column;
        gap: 10vw;
    }

}